.button {
  background-color: var(--orange);
  border-radius: 1rem;
  border: 2px solid var(--orange);
  color: #fff;
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  height: 54px;
  padding: 0.8rem 1rem;
  width: 100%;
  transition-property: color, background-color, border-color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.button:hover {
  background: var(--metal);
  border-color: var(--metal);
  color: #fff;
}

.button:focus {
  border: 2px solid var(--metal);
}
