.wrapper {
  bottom: 1rem;
  position: fixed;
  width: 100%;
}

.errorMessage {
  background-color: var(--pink);
  border-radius: 1rem;
  border: 1px solid var(--red);
  margin: 0 auto;
  max-width: 340px;
  padding: 1rem;
}
