.select {
  width: 100%;
  height: 48px;
  border-radius: 2rem;
  border: 1px solid var(--nickel);
  padding: 0 1rem;
  -webkit-appearance: none;
  background: #fff url('src/assets/chevron.svg') no-repeat;
  background-position: calc(100% - 20px);
}
