:root {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --pink: #fec7cf;
  --red: #e60023;
  --monza: #c60623;
  --palesky: #6b7280;
  --nickel: #c8c8c4;
  --metal: #1d1d1b;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

p {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.3;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small {
  font-size: 0.8rem;
}

main {
  margin: 0 auto;
}

#controls {
  background-color: var(--metal);
  border-radius: 0 0 2rem 2rem;
  padding: 1.5rem 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.mt-s {
  margin-top: 0.6rem;
}

.mt-l {
  margin-top: 2rem;
}

@container (min-width: 480px) {
  #submit-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 1rem;
  }

  #submit-buttons > button {
    margin: 0;
  }
}
