.btt {
  align-items: center;
  background-color: var(--red);
  border-radius: 50%;
  border: 1px solid var(--red);
  bottom: 2rem;
  display: flex;
  height: 3rem;
  justify-content: center;
  position: fixed;
  right: 2rem;
  transition-duration: 0.4s;
  transition-property: color, background-color, border-color;
  transition-timing-function: ease;
  width: 3rem;
}

.btt:hover {
  background: var(--monza);
  border-color: var(--monza);
}
